@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    color: #48409E;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #48409E;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 0.3s;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #48409E;
    border-radius: 10px;

  }

  *::-webkit-scrollbar-track {
    background: #C4C4C4;
    border-radius: 10px;
  }

}